<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.CommodityMapper" >

    <resultMap id="BaseResultMap" type="pojo.Commodity" >
        <id column="commodityId" property="commodityid" jdbcType="INTEGER" />
        <result column="commodityName" property="commodityname" jdbcType="VARCHAR" />
        <result column="commodityEnter" property="commodityenter" jdbcType="DOUBLE" />
        <result column="commoditySale" property="commoditysale" jdbcType="DOUBLE" />
        <result column="commodityCost" property="commoditycost" jdbcType="DOUBLE" />
        <result column="img" property="img" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        commodityId, commodityName, commodityEnter, commoditySale, commodityCost, img
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from commodity
        where commodityId = #{commodityid,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from commodity
        where commodityId = #{commodityid,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="pojo.Commodity" >
        insert into commodity (commodityId, commodityName, commodityEnter, 
            commoditySale, commodityCost, img
            )
        values (#{commodityid,jdbcType=INTEGER}, #{commodityname,jdbcType=VARCHAR}, #{commodityenter,jdbcType=DOUBLE}, 
            #{commoditysale,jdbcType=DOUBLE}, #{commoditycost,jdbcType=DOUBLE}, #{img,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="pojo.Commodity" >
        insert into commodity
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="commodityid != null" >
                commodityId,
            </if>
            <if test="commodityname != null" >
                commodityName,
            </if>
            <if test="commodityenter != null" >
                commodityEnter,
            </if>
            <if test="commoditysale != null" >
                commoditySale,
            </if>
            <if test="commoditycost != null" >
                commodityCost,
            </if>
            <if test="img != null" >
                img,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="commodityid != null" >
                #{commodityid,jdbcType=INTEGER},
            </if>
            <if test="commodityname != null" >
                #{commodityname,jdbcType=VARCHAR},
            </if>
            <if test="commodityenter != null" >
                #{commodityenter,jdbcType=DOUBLE},
            </if>
            <if test="commoditysale != null" >
                #{commoditysale,jdbcType=DOUBLE},
            </if>
            <if test="commoditycost != null" >
                #{commoditycost,jdbcType=DOUBLE},
            </if>
            <if test="img != null" >
                #{img,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="pojo.Commodity" >
        update commodity
        <set >
            <if test="commodityname != null" >
                commodityName = #{commodityname,jdbcType=VARCHAR},
            </if>
            <if test="commodityenter != null" >
                commodityEnter = #{commodityenter,jdbcType=DOUBLE},
            </if>
            <if test="commoditysale != null" >
                commoditySale = #{commoditysale,jdbcType=DOUBLE},
            </if>
            <if test="commoditycost != null" >
                commodityCost = #{commoditycost,jdbcType=DOUBLE},
            </if>
            <if test="img != null" >
                img = #{img,jdbcType=VARCHAR},
            </if>
        </set>
        where commodityId = #{commodityid,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="pojo.Commodity" >
        update commodity
        set commodityName = #{commodityname,jdbcType=VARCHAR},
            commodityEnter = #{commodityenter,jdbcType=DOUBLE},
            commoditySale = #{commoditysale,jdbcType=DOUBLE},
            commodityCost = #{commoditycost,jdbcType=DOUBLE},
            img = #{img,jdbcType=VARCHAR}
        where commodityId = #{commodityid,jdbcType=INTEGER}
    </update>
</mapper>