<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.OrderMapper">

	<resultMap id="BaseResultMap" type="pojo.Order">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="numberr" property="numberr" jdbcType="VARCHAR" />
		<result column="userid" property="userid" jdbcType="INTEGER" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="linkman" property="linkman" jdbcType="VARCHAR" />
		<result column="ordertime" property="ordertime"
			jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="money" property="money" jdbcType="DOUBLE" />
	</resultMap>
	<select id="selOrderById" resultMap="BaseResultMap"
		parameterType="int">
		SELECT * FROM `order` WHERE userid=#{userid}
	</select>

	<select id="selOrderDetailsBy" resultMap="BaseResultMap"
		parameterType="int">
		SELECT state,COUNT
		FROM `commodity_order` t1,`order` t2,`commodity` t3
		WHERE t1.`orderId`=t2.`id`
		AND t1.`commodityId`=t3.`commodityId`
		AND t1.`orderId`=#{orderId}
	</select>


</mapper>