<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.ShoppingMapper">

	<resultMap id="BaseResultMap" type="pojo.Shopping">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="commodity_id" property="commodityId"
			jdbcType="INTEGER" />
		<result column="count" property="count" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="commodityName" property="commodityName"
			jdbcType="VARCHAR" />
		<result column="commoditySale" property="commoditySale"
			jdbcType="FLOAT" />
		<result column="img" property="img" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selByUserId" resultMap="BaseResultMap">
		SELECT
		* FROM
		`commodity`
		t1,`shopping` t2
		WHERE
		t1.`commodityId`=t2.`commodity_id`
		AND user_id =2
	</select>
	<insert id="addCart" parameterType="pojo.Shopping">
		INSERT INTO shopping
		VALUES
		(0,#{commodityId},#{count},#{userId},#{money});
	</insert>

	<delete id="deleteShopping" parameterType="int">
		DELETE
		FROM shopping
		WHERE id =#{shoppingId}
	</delete>
	<update id="updateShopping">
		update shopping
		set `count` = #{count},`money` = #{money}
		where `id` = #{id};
	</update>

</mapper>