<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.UserGiftcouponMapper" >

    <resultMap id="BaseResultMap" type="pojo.UserGiftcoupon" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="uid" property="uid" jdbcType="INTEGER" />
        <result column="gcid" property="gcid" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, uid, gcid
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from user_giftcoupon
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from user_giftcoupon
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="pojo.UserGiftcoupon" >
        insert into user_giftcoupon (id, uid, gcid
            )
        values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{gcid,jdbcType=INTEGER}
            )
    </insert>

    <insert id="insertSelective" parameterType="pojo.UserGiftcoupon" >
        insert into user_giftcoupon
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="uid != null" >
                uid,
            </if>
            <if test="gcid != null" >
                gcid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="uid != null" >
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="gcid != null" >
                #{gcid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="pojo.UserGiftcoupon" >
        update user_giftcoupon
        <set >
            <if test="uid != null" >
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="gcid != null" >
                gcid = #{gcid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="pojo.UserGiftcoupon" >
        update user_giftcoupon
        set uid = #{uid,jdbcType=INTEGER},
            gcid = #{gcid,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>