<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="./layui/css/layui.css">
</head>
<div class="layui-container">  
    <div class="layui-row"> 	
        <div class="layui-col-lg12">
            <fieldset class="layui-elem-field">
                <legend>用户管理 - 新增用户</legend>
                <div class="layui-field-box">
                    <form  action="commodityAdd"
                    method="post" enctype="multipart/form-data">
                        <div class="layui-form-item">
                            <label class="layui-form-label">商品名称</label>
                            <div class="layui-input-inline">
                            <input type="text" name="commodityName"  placeholder="请输入商品名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                         <div class="layui-form-item">
                            <label class="layui-form-label">商品进价</label>
                            <div class="layui-input-inline">
                            <input type="text"  name="commodityEnter" required lay-verify="required" placeholder="请输入商品进价" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                         <div class="layui-form-item">
                            <label class="layui-form-label">商品销售价</label>
                            <div class="layui-input-inline">
                            <input type="text"  name="commoditySale" required lay-verify="required" placeholder="请输入商品销售价" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                         <div class="layui-form-item">
                            <label class="layui-form-label">商品成本价</label>
                            <div class="layui-input-inline">
                            <input type="text"  name="commodityCost" required lay-verify="required" placeholder="请输入商品成本价" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                         <div class="layui-form-item">
                            <label class="layui-form-label">商品说明</label>
                            <div class="layui-input-inline">
                            <input type="text"  name="state" required lay-verify="required" placeholder="请输入商品说明" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                         <div class="layui-form-item">
                            <label class="layui-form-label">商品销量</label>
                            <div class="layui-input-inline">
                            <input type="text"  name="commodityQuantity" required lay-verify="required" placeholder="请输入商品销量" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">商品图片</label>
                            <div class="layui-input-inline">
                            <input type="file" name="myFile" />
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                            <button class="layui-btn" type="submit" onclick="guan()">
                            	立即提交
                            </button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<script type="text/javascript" src="./javascript/jquery.min.js"></script>
<script type="text/javascript" src="./layui/layui.js"></script>
<script type="text/javascript" src="./javascript/dw_form_submit.js"></script>
<script type="text/javascript">
function guan(){
window.layer.close(1);
window.parent.location.reload();
}
</script>
</body>
</html>