<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 后台大布局 - Layui</title>
  <link rel="stylesheet" href="./layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">layui 后台布局</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="admin.html">用户列表</a></li>
      <li class="layui-nav-item"><a href="member.html">会员列表</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          贤心
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item"><a class="layui-this" href="index.html">控制台</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">基本信息</a>
           <dl class="layui-nav-child">
                <!--  <dd><a href="admin.html">客户基本信息</a></dd>
                <dd><a href="role.html">员工基本信息</a></dd>
                <dd><a href="adminRole.html">提供商基本信息</a></dd>
                <dd><a href="adminRole.html">商品基本信息</a></dd>-->
                <dd><a href="customer">客户基本信息</a></dd>
                <dd><a href="show.html">员工基本信息</a></dd>
                <dd><a href="supper.html">提供商基本信息</a></dd>
           </dl> 
        <li class="layui-nav-item">
            <a href="javascript:;">订单管理</a>
            <dl class="layui-nav-child">
                <dd><a href="order">客户订单</a></dd>
                <dd><a href="delivery">派工处理</a></dd>
                <dd><a href="orderAlready">待办任务</a></dd>
            </dl>
        </li>
     <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">仓库管理</a>
                <dl class="layui-nav-child">
                    <dd><a class="layui-this" href="repertoryParticulars">仓库详情</a></dd>
                    <dd><a class="layui-this" href="commoditys">商品管理</a></dd>
                </dl>
            </li>
        <li class="layui-nav-item">
            <a href="javascript:;">统计信息</a>
            <dl class="layui-nav-child">
                <dd><a href="echartsTests">统计</a></dd>
                <!-- <dd><a href="control.html">商品统计</a></dd>
                <dd><a href="control.html">退单原因统计</a></dd> -->
            </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <fieldset class="layui-elem-field">
            <legend>控制台-系统信息</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                        <th>昵称</th>
                        <th>加入时间</th>
                        <th>签名</th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr>
                        <td>贤心</td>
                        <td>2016-11-29</td>
                        <td>人生就像是一场修行</td>
                        </tr>
                        <tr>
                        <td>许闲心</td>
                        <td>2016-11-28</td>
                        <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                        </tr>
                        <tr>
                        <td>sentsin</td>
                        <td>2016-11-27</td>
                        <td> Life is either a daring adventure or nothing.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
          <legend>控制台-最新公告</legend>
          <div class="layui-field-box">
              <table class="layui-table">
                  <colgroup>
                      <col width="150">
                      <col width="200">
                      <col>
                  </colgroup>
                  <thead>
                      <tr>
                      <th>昵称</th>
                      <th>加入时间</th>
                      <th>签名</th>
                      </tr> 
                  </thead>
                  <tbody>
                      <tr>
                      <td>贤心</td>
                      <td>2016-11-29</td>
                      <td>人生就像是一场修行</td>
                      </tr>
                      <tr>
                      <td>许闲心</td>
                      <td>2016-11-28</td>
                      <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                      </tr>
                      <tr>
                      <td>sentsin</td>
                      <td>2016-11-27</td>
                      <td> Life is either a daring adventure or nothing.</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </fieldset>
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script type="text/javascript" src="./javascript/jquery.min.js"></script>
<script type="text/javascript" src="./layui/layui.js"></script>
<script type="text/javascript" src="./javascript/index.js"></script>
</body>
</html>