<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>便捷桶装水商城</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="lm/css/bootstrap.min.css">
<link rel="stylesheet" href="lm/css/font-awesome.min.css">
<link rel="stylesheet" href="lm/css/pe-icon-7-stroke.css">
<link rel="stylesheet" href="lm/css/plugins.css">
<link rel="stylesheet" href="lm/style.css">
<link rel="stylesheet" href="lm/css/responsive.css">
<script src="lm/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
	<!-- Body main wrapper start -->
	<div class="wrapper">
		<!-- START HEADER SECTION -->
		<header class="header-section section sticker">
			<div class="headerpage"></div>
		</header>
		<!-- END HEADER SECTION -->

		<!-- PAGE BANNER SECTION -->
		<div class="page-banner-section section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="page-banner-content">
							<h1>购物车页面</h1>
							<ul class="breadcrumb">
								<li><a href="home">主页面</a></li>
								<li class="active">购物车页面</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- PAGE SECTION START -->
		<div class="page-section section pt-120 pb-80">
			<div class="container">
				<div class="row">

					<div class="col-xs-12">
						<div class="cart-table table-responsive mb-40">
							<table>
								<thead>
									<tr>
										<th class="pro-thumbnail">图片</th>
										<th class="pro-title">产品</th>
										<th class="pro-price">单价</th>
										<th class="pro-quantity">数量</th>
										<th class="pro-subtotal">总价</th>
										<th class="pro-remove">删除</th>
									</tr>
								</thead>
								<tbody>
									<tr  th:each="shopping,iterStat:${shoppingList}" th:class="'del'+${shopping.id}">
										<td class="pro-thumbnail"><a href="#"><img
												th:src="'lm/img/shui/'+${shopping.img}" /></a></td>
										<td class="pro-title" th:text="${shopping.state}"></td>
										<td class="pro-price">￥<span class="amount"
											th:text="${#numbers.formatDecimal(shopping.commoditySale, 0, 2)}"></span></td>
										<td class="pro-quantity"><div class="product-quantity">
												<input type="text" th:value="${shopping.count}" class="cartCount"/>
												<input type="hidden" th:value="${shopping.id}" class="cartId"/>
											</div></td>
										<td class="pro-subtotal">￥<span class="pro-total"
											th:text="${#numbers.formatDecimal(shopping.money, 0, 2)}"></span></td>
										<td class="pro-remove"><a
											th:onclick="'delCart('+${shopping.id}+')'">×</a></td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-8 col-sm-7 col-xs-12">
						<div class="cart-buttons mb-30">
							<a href="home">继续购物</a>
						</div>
					</div>
					<form action="settleAccount" method="post" id="subform">
						<div class="col-md-4 col-sm-5 col-xs-12">
							<div class="cart-total mb-40">
								<h3>总计</h3>
								<table>
									<tbody>

										<tr class="order-total">
											<th>总</th>
											<td style="font-weight: bold;"><span>￥</span><span
												class="totals"></span></td>
										</tr>

									</tbody>

								</table>

								<div class="proceed-to-checkout section mt-30">
									<!-- <button class="add-to-cart" type="submit">购买</button> -->
									<a onclick="submitt()">去结算</a> <input type="hidden"
										name="total">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="footerpage"></div>

	</div>
	<script src="lm/js/vendor/jquery-3.1.1.min.js"></script>
	<script src="lm/js/bootstrap.min.js"></script>
	<script src="lm/js/plugins.js"></script>
	<script src="lm/js/ajax-mail.js"></script>
	<script src="lm/js/main.js"></script>
	<script type="text/javascript">
		$(function() {
			showtotal();
		/* 	selCart(); */
		})
		$(".headerpage").load("lm/header.html");
		$(".footerpage").load("lm/footer.html");
		$('.product-quantity')
				.append(
						'<span class="dec qtybtn"><i class="fa fa-angle-left"></i></span><span class="inc qtybtn"><i class="fa fa-angle-right"></i></span>');
		$('.qtybtn').on('click',function() {
					var $button = $(this);
					var cartId=$button.parent().find(".cartId").val();
					var newVal;
					var price = $button.parent().parent().prev()
							.find(".amount").text();
					var oldValue = $button.parent().find('input').val();
					if ($button.hasClass('inc')) {
						if(oldValue<10){
							newVal= parseFloat(oldValue) + 1;
						}else{
							newVal = 10;
						}
					} else {
						if (oldValue > 1) {
							 newVal = parseFloat(oldValue) - 1;
						} else {
							newVal = 1;
						}
						
					}
					$button.parent().find('.cartCount').val(newVal);
					var total = price * newVal;
					if (total % 1 == 0) {
						total = total + ".00";
					} else {
						total = Math.round(total * 100) / 100;
					}
					$button.parent().parent().next().find(".pro-total").html(
							total);
					/* alert(total);
					alert(newVal) */
				 	 $.ajax({
			 				url : "updCart?id="+cartId+"&count="+newVal+"&money="+total,
			 				type : "POST",
			 				dataType : "json",
			 				contentType : "application/json;charset=UTF-8",
			 				success : function(data) {
			 				
			 				},
			 				error : function() {
			 					alert("失败");
			 				}
			 			}); 
					
					
					//数量修改后重新计算总金额
					showtotal();
				});

		//计算总金额
		function showtotal() {
			var totals = 0;
			var totaldocument = document.getElementsByClassName("pro-total");
			for (var i = 0; i < totaldocument.length; i++) {
				totals += parseFloat(totaldocument[i].innerText);
			}

			if (totals % 1 == 0) {
				totals = totals + ".00";
			} else {
				totals = Math.round(totals * 100) / 100;
			}
			$(".order-total").find(".totals").html(totals);
			$("input[name=total]").val(totals);
		}
		function  delCart(id) {
         if(confirm("确定从购物车删除这个商品?")){
        	 $.ajax({
 				url : "delCart?shoppingId="+id,
 				type : "POST",
 				dataType : "json",
 				contentType : "application/json;charset=UTF-8",
 				success : function(data) {
 				if(data>0){
 					$(".del"+id).remove();
 					
 				}
 				},
 				error : function() {
 					alert("失败");
 				}
 			});
			}
		}

		function submitt() {
			var form = document.getElementById('subform');
			form.submit();
		}
		
		function  updCart() {
			
		}

		/* 	function delcart() {
				alert(1);
				confirm("确定删除么?"){
					alert("删除");
				}
			} */
		/* function  selCart() {
			$.ajax({
				url : "selCart",
				type : "POST",
				dataType : "json",
				contentType : "application/json;charset=UTF-8",
				async:false,
				success : function(data) {
					$.each(data, function(i, item) {
						alert(item.commodityName)
					});
				},
				error : function() {
					alert("失败");
				}
			});
		} */
	</script>
</body>

</html>
