<!doctype html>
<html class="no-js" lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>便捷桶装水商城</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

<!-- All CSS Files -->
<!-- Bootstrap css -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- Icon Font -->
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/pe-icon-7-stroke.css">
<!-- Plugins css file -->
<link rel="stylesheet" href="css/plugins.css">
<!-- Theme main style -->
<link rel="stylesheet" href="style.css">
<!-- Responsive css -->
<link rel="stylesheet" href="css/responsive.css">

<!-- Modernizr JS -->
<script src="js/vendor/modernizr-2.8.3.min.js"></script>

</head>

<body>





	<!-- Body main wrapper start -->
	<div class="wrapper">

		<!-- START HEADER SECTION -->
		<header class="header-section section sticker">
			<div class="headerpage"></div>
		</header>
		<!-- END HEADER SECTION -->

		<!-- PAGE BANNER SECTION -->
		<div class="page-banner-section section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="page-banner-content">
							<h1>结账页面</h1>
							<ul class="breadcrumb">
								<li><a href="index.html">主页面</a></li>
								<li class="active">结账页面</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- PAGE SECTION START -->
		<div class="page-section section pt-120 pb-80">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="customer-login mb-40">
							<!-- LOGIN START -->
							<h3></h3>

							<!-- LOGIN END -->
						</div>
					</div>

					<div class="checkout-form">

						<div class="col-lg-6 col-md-6 mb-40">

							<form action="#">
								<h3>结账明细</h3>
								<div class="coupon-form mb-30">
									<h3>收货地址</h3>

									<select>
										<option>地址1</option>
										<option>地址2</option>
										<option>地址3</option>
									</select>

								</div>

								<div class="coupon-form mb-30">
									<h3>手机号码</h3>

									<input type="text" />

								</div>

								<div class="coupon-form mb-30">
									<h3>联系人</h3>

									<input type="text" />
								</div>
								<div class="row"></div>
								<h3>
									<label for="ship_form"> 需要添加收货地址?<a href="个人信息">点击这里</a></label>
								</h3>

								<div class="order-notes">
									<label for="order_note">订单备注</label>
									<textarea id="order_note" placeholder="请输入您的备注"></textarea>
								</div>
							</form>
						</div>
						<div class="col-lg-6 col-md-6 col-xs-12 mb-40">
							<div class="coupon-form mb-30">
								<h3>您的优惠卷</h3>
								<div>
									<p>请选择您的优惠卷</p>
									<select>
										<option>优惠卷1</option>
										<option>优惠卷2</option>
										<option>优惠卷3</option>
									</select>
								</div>
								<div style="display: none;">
									<p>您没有优惠卷是否去兑换?</p>
									<a href="积分商城">点击我兑换</a>
								</div>
							</div>
							<div class="order-wrapper">
								<h3>您的订单</h3>
								<div class="order-table table-responsive mb-30">
									<table>
										<thead>
											<tr>
												<th class="product-name">商品</th>
												<th class="product-total">总</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="product-name">桶装水a <strong
													class="product-qty"> × 1</strong>
												</td>
												<td class="product-total"><span class="amount">￥165.00</span>
												</td>
											</tr>
											<tr>
												<td class="product-name">桶装水b <strong
													class="product-qty"> × 1</strong>
												</td>
												<td class="product-total"><span class="amount">￥50.00</span>
												</td>
											</tr>
										</tbody>
										<tfoot>

											<tr>
												<th>订单合计</th>
												<td><strong>￥215.00</strong></td>
											</tr>
										</tfoot>
									</table>
								</div>
								<!-- 	 <div class="action-btn fix">
									<a href="#" data-toggle="modal" data-target="#quickViewModal"
										title="Quick View"><i class="pe-7s-look"></i>Quick view</a> <a
										href="#" title="Add to Cart"><i class="pe-7s-cart"></i>add
										to cart</a>
								</div>  -->


								<div id="sbmorder" class="modal fade">
									<div class="container">
										<div class="modal-content row">
											<div class="modal-body">
												<button class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span>
												</button>

												<h3>支付</h3>
												<div class="col-lg-6 col-md-6 col-xs-12 mb-40">
													<div class="coupon-form mb-30">

														<div>
															<p>请选择您的支付方式</p>
															<select>
																<option>微信</option>
																<option>支付宝</option>
																<option>我的钱包</option>
															</select>
														</div>
													</div>

												
												</div>
												<div class="col-lg-6 col-md-6 col-xs-12 mb-40">
													<div class="coupon-form mb-30">
														<div>
															<p>请输入钱包支付密码</p>
															<input type="password"/>
															
															<br>
									                   <a href="#" ><input type="submit" value="确认支付" /></a>
								
														</div>
														<div style="display: none;">
														<p>请扫码支付</p>
															二维码
														</div>
													</div>
												</div>
											</div>

										</div>

									</div>

								</div>



								<div class="order-button">
									<a href="#" data-toggle="modal" data-target="#sbmorder"><input
										type="submit" value="下订单" /></a>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- PAGE SECTION END -->

	<!-- FOOTER TOP SECTION START -->
	<div class="footerpage"></div>
	<!-- FOOTER TOP SECTION END -->



	<!-- Body main wrapper end -->


	<!-- Placed JS at the end of the document so the pages load faster -->

	<!-- jQuery latest version -->
	<script src="js/vendor/jquery-3.1.1.min.js"></script>
	<!-- Bootstrap js -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Plugins js -->
	<script src="js/plugins.js"></script>
	<!-- Ajax Mail js -->
	<script src="js/ajax-mail.js"></script>
	<!-- Main js -->
	<script src="js/main.js"></script>
	<script type="text/javascript">
		$(".headerpage").load("header.html");
		$(".footerpage").load("footer.html");
	</script>
</body>

</html>
