<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>便捷桶装水商城</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
<script src="js/vendor/modernizr-2.8.3.min.js"></script>
<link rel="stylesheet" href="lm/css/bootstrap.min.css">
<link rel="stylesheet" href="lm/css/font-awesome.min.css">
<link rel="stylesheet" href="lm/css/pe-icon-7-stroke.css">
<link rel="stylesheet" href="lm/css/plugins.css">
<link rel="stylesheet" href="lm/style.css">
<link rel="stylesheet" href="lm/css/responsive.css">
<script src="lm/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
	<div class="wrapper">
		<header class="header-section section sticker">
			<div class="headerpage"></div>
		</header>
		<div class="page-banner-section section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="page-banner-content">
							<h1>我的订单</h1>
							<ul class="breadcrumb">
								<li><a href="home">主页面</a></li>
								<li class="active">我的订单</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-section section pt-120 pb-80">
			<div class="container">
				<div class="row">
					<form action="#">
						<div class="col-xs-12">
							<div class="cart-table table-responsive mb-40">
								<table>
									<thead>
										<tr>
											<th class="pro-thumbnail">订单编号</th>
											<th class="pro-thumbnail">商品</th>
											<th class="pro-title">收货地址</th>
											<th class="pro-price">联系电话</th>
											<th class="pro-quantity">收货人</th>
											<th class="pro-subtotal">下单时间</th>
											<th class="pro-remove">订单总金额</th>
											<th class="pro-remove">订单状态</th>
											<th class="pro-remove">操作</th>
										</tr>
									</thead>
									<tbody>

										<tr th:each="order,iterStat:${orderList}">
											<td class="" th:text="${order.numberr}"></td>
											<td>
											<span th:each="detail,status:${order.OrderDetails}">
											<span th:text="${detail.state}"></span><span th:text="'×'+${detail.count}"></span><br>
											</span>
											</td>
											<td  th:text="${order.address}"></td>
											<td  th:text="${order.phone}"></td>
											<td  th:text="${order.linkman}"></td>
											<td  th:text="${#dates.format(order.ordertime, 'yyyy-MM-dd hh:mm:ss')}"></td>
											<td  th:text="${order.money}"></td>
											<td  th:text="${order.status}"></td>
											<td>
												<div class="cart-buttons">
													<a href="#">签收</a> <a href="#">取消订单</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="footerpage"></div>
	</div>
	<script src="lm/js/vendor/jquery-3.1.1.min.js"></script>
	<script src="lm/js/bootstrap.min.js"></script>
	<script src="lm/js/plugins.js"></script>
	<script src="lm/js/ajax-mail.js"></script>
	<script src="lm/js/main.js"></script>
	<script type="text/javascript">
		$(".headerpage").load("lm/header.html");
		$(".footerpage").load("lm/footer.html");
	</script>
</body>

</html>
