<!doctype html>
<html class="no-js" lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>便捷桶装水商城</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

<!-- All CSS Files -->
<!-- Bootstrap css -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- Icon Font -->
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/pe-icon-7-stroke.css">
<!-- Plugins css file -->
<link rel="stylesheet" href="css/plugins.css">
<!-- Theme main style -->
<link rel="stylesheet" href="style.css">
<!-- Responsive css -->
<link rel="stylesheet" href="css/responsive.css">

<!-- Modernizr JS -->
<script src="js/vendor/modernizr-2.8.3.min.js"></script>

</head>

<body>



	<!-- Body main wrapper start -->
	<div class="wrapper">
		<!-- START HEADER SECTION -->
		<header class="header-section section sticker">
			<div class="headerpage"></div>
		</header>
		<!-- END HEADER SECTION -->

		<!-- PAGE BANNER SECTION -->
		<div class="page-banner-section section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="page-banner-content">
							<h1>我的订单</h1>
							<ul class="breadcrumb">
								<li><a href="#">主页面</a></li>
								<li class="active">我的订单</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- PAGE SECTION START -->
		<div class="page-section section pt-120 pb-80">
			<div class="container">
				<div class="row">
					<form action="#">
						<div class="col-xs-12">
							<div class="cart-table table-responsive mb-40">
								<table>
									<thead>
										<tr>
											<th class="pro-thumbnail">订单编号</th>
											<th class="pro-thumbnail">商品</th>
											<th class="pro-title">收货地址</th>
											<th class="pro-price">联系电话</th>
											<th class="pro-quantity">收货人</th>
											<th class="pro-subtotal">下单时间</th>
											<th class="pro-remove">订单总金额</th>
											<th class="pro-remove">订单状态</th>
											<th class="pro-remove">操作</th>
										</tr>
									</thead>
									<tbody>
										
										<tr>
											<td class="">1</td>
											<td class="">2</td>
											<td class="">3</td>
											<td class="">4</td>
											<td class="">5</td>
											<td class="">6</td>
											<td class="">7</td>
											<td class="">8</td>
											<td class="">
												<div class="cart-buttons">
													<a href="#">签收</a>	<a href="#">取消订单</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	
		<!-- FOOTER BOTTOM SECTION START -->
		<div class="footerpage"></div>
		<!-- FOOTER BOTTOM SECTION END -->


	</div>
	<!-- Body main wrapper end -->


	<!-- Placed JS at the end of the document so the pages load faster -->

	<!-- jQuery latest version -->
	<script src="js/vendor/jquery-3.1.1.min.js"></script>
	<!-- Bootstrap js -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Plugins js -->
	<script src="js/plugins.js"></script>
	<!-- Ajax Mail js -->
	<script src="js/ajax-mail.js"></script>
	<!-- Main js -->
	<script src="js/main.js"></script>
	<script type="text/javascript">
		$(".headerpage").load("header.html");
		$(".footerpage").load("footer.html");
	</script>
</body>

</html>
