<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>便捷桶装水商城</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
<script src="lm/js/vendor/modernizr-2.8.3.min.js"></script>
<link rel="stylesheet" href="lm/css/bootstrap.min.css">
<link rel="stylesheet" href="lm/css/font-awesome.min.css">
<link rel="stylesheet" href="lm/css/pe-icon-7-stroke.css">
<link rel="stylesheet" href="lm/css/plugins.css">
<link rel="stylesheet" href="lm/style.css">
<link rel="stylesheet" href="lm/css/responsive.css">
<script src="lm/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
	<div class="wrapper">
		<header class="header-section section sticker">
			<div class="headerpage"></div>
		</header>
		
		<div class="page-banner-section section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="page-banner-content">
							<h1>商品详情</h1>
							<ul class="breadcrumb">
								<li><a href="home">主页面</a></li>
								<li class="active">商品详情</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-section section pt-120 pb-120">
		<form action="settleAccount" method="post">
			<div class="container">
				<div class="row mb-40">
					<div class="col-md-5 col-sm-6 col-xs-12 mb-40">
						<div class="tab-content mb-10">
							<div class="pro-large-img tab-pane active" id="pro-large-img-1">
								<img th:src="'lm/img/shui/'+${commodity.img}"/>
							</div>
						</div>
					</div>
					<div class="col-md-7 col-sm-6 col-xs-12 mb-40">
						<div class="product-details section">
							<!-- Title -->
							<h1 class="title" th:text="${commodity.state}"></h1>
							<input type="hidden" name="commodityid" th:value="${commodity.commodityid}"/>
							<input type="hidden" name="way" value="1"/>
							<div class="price-ratting section">
								<h5 class="pd-sub-title">单价</h5>
								<span class="price float-left unit">￥ <span th:text="${#numbers.formatDecimal(commodity.commoditysale, 0, 2)}"  class="new">
										</span></span>
								<span class="ratting float-right"> <i
									class="fa fa-star active"></i> <i class="fa fa-star active"></i>
									<i class="fa fa-star active"></i> <i class="fa fa-star active"></i>
									<i class="fa fa-star active"></i>
								</span>
							</div>
							<div class="product-size section">
								<h5 class="pd-sub-title">总金额</h5>
								<span class="price float-left">￥<span  class="new tatol">
										</span></span>
									<input type="hidden" name="total"/>
							</div>
							<h5 class="pd-sub-title">数量</h5>
							<div class="quantity-cart section">
								<div class="product-quantity">
									<input type="text" name="count" value="1" onblur="tatol()">
								</div>
								<div>
									<button class="add-to-cart" type="submit">购买</button>
									<button class="add-to-cart">添加到购物车</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</form>
		<div class="footerpage"></div>
		</div>
</div>
	<script src="lm/js/vendor/jquery-3.1.1.min.js"></script>
	<script src="lm/js/bootstrap.min.js"></script>
	<script src="lm/js/plugins.js"></script>
	<script src="lm/js/ajax-mail.js"></script>
	<script src="lm/js/main.js"></script>
		<script type="text/javascript">
		$(".headerpage").load("lm/header.html");
		$(".footerpage").load("lm/footer.html");
		function tatol(){
			var count=$(".product-quantity input").val();
			var price=$(".unit span").text();
			var total=count*price+".00";
			$(".tatol").html(total);
			$("input[name=total]").val(total);
		}
		$(function() {
			tatol();
		});
		
		function  buy() {
			/* var commodityid=$("input[name=commodityid]").val();
			var count=$("input[name=count]").val();
			var total=$("input[name=total]").val(); */
			/* $.ajax({
				url : "buy?commodityid="+commodityid+"&count="+count+"&total="+total,
				type : "POST", 
			 	data : {"commodityid":commodityid,"count":count,"total":total}, 
				 dataType : "json",
				contentType : "application/json;charset=UTF-8", 
				 success : function(data) {
				},
				error : function() {
					alert("失败");
				} 
			 });  */
		} 
	</script>
</body>

</html>
