<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.ChargebackMapper" >

    <resultMap id="BaseResultMap" type="pojo.Chargeback" >
        <id column="chargebackID" property="chargebackid" jdbcType="INTEGER" />
        <result column="chargebackOrder" property="chargebackorder" jdbcType="INTEGER" />
        <result column="chargebackApplyForDate" property="chargebackapplyfordate" jdbcType="TIMESTAMP" />
        <result column="chargebackCause" property="chargebackcause" jdbcType="VARCHAR" />
        <result column="chargebackQuantity" property="chargebackquantity" jdbcType="INTEGER" />
        <result column="chargebackApprove" property="chargebackapprove" jdbcType="VARCHAR" />
        <result column="chargebackDate" property="chargebackdate" jdbcType="TIMESTAMP" />
        <result column=" chargebackMoney" property="chargebackmoney" jdbcType="DOUBLE" />
        <result column="chargebackOperationName" property="chargebackoperationname" jdbcType="VARCHAR" />
    </resultMap>
<select id="chargeback" resultType="pojo.Chargeback">
SELECT * FROM `chargeback`
</select>
   
</mapper>