<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.CommodityMapper" >

    <resultMap id="BaseResultMap" type="pojo.Commodity" >
        <id column="commodityId" property="commodityid" jdbcType="INTEGER" />
        <result column="commodityName" property="commodityname" jdbcType="VARCHAR" />
        <result column="commodityEnter" property="commodityenter" jdbcType="DOUBLE" />
        <result column="commoditySale" property="commoditysale" jdbcType="DOUBLE" />
        <result column="commodityCost" property="commoditycost" jdbcType="DOUBLE" />
        <result column="img" property="img" jdbcType="VARCHAR" />
    </resultMap>

    <select id="commoditySelect" resultType="pojo.Repertory" parameterType="pojo.Repertory">
    SELECT * FROM  `commodity` WHERE commodityName LIKE '%娃%'
    </select>
</mapper>