<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="pojo.Order" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="numberr" property="numberr" jdbcType="VARCHAR" />
        <result column="userid" property="userid" jdbcType="INTEGER" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="linkman" property="linkman" jdbcType="VARCHAR" />
        <result column="ordertime" property="ordertime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="money" property="money" jdbcType="DOUBLE" />
    </resultMap>
    
    <select id="OrderAll" resultMap="BaseResultMap" >
  SELECT  `order`.*,`commodity`.`state`,`commodity`.`commoditySale`,`commodity_order`.`count`,`delivery`.`deliveryman`,`delivery`.`deliveryTime` 
FROM `commodity`,`commodity_order`,`order`,`delivery`
WHERE `order`.`id` = `commodity_order`.`orderId` 
AND `commodity`.`commodityId`= `commodity_order`.`commodityId` AND  `delivery`.`order_id` = `order`.`id`  AND `order`.`id` = #{id}
    </select>
    
    
 <select id="Ordercommission" resultMap="BaseResultMap" >
SELECT  `order`.*,`commodity`.`state`,`commodity`.`commoditySale`,`commodity_order`.`count`
FROM `commodity`,`commodity_order`,`order`
WHERE `order`.`id` = `commodity_order`.`orderId` 
AND `commodity`.`commodityId`= `commodity_order`.`commodityId` AND `order`.`id` = #{id}
 </select>
</mapper>