<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.RepertoryMapper" >
 <resultMap id="BaseResultMap" type="pojo.Repertory" >
        <id column="repertoryId" property="repertoryid"/>
        <result column="commodityId" property="commodityid"/>
        <result column="repertoryamount" property="repertoryamount"/>
        <result column="repertoryEmptyBarrel" property="repertoryemptybarrel"/>
        <result column="repertoryState" property="repertorystate"/>
        <result column="commodityName" property="commodityname"/>
         <result column="commodityId" property="commodityid"/>
    </resultMap>
    
    <select id="repertory" resultType="pojo.Repertory" parameterType="pojo.Repertory">
    SELECT * FROM  commodity,repertory WHERE commodity.commodityId=repertory.commodityId 
    <if test="commodityName != '' and commodityName != null">
    and commodityName  LIKE CONCAT('%',#{commodityName},'%')
    </if>
    </select>
    
     <select id="list" resultType="pojo.Repertory" parameterType="pojo.Repertory">
    SELECT * FROM  commodity,repertory WHERE commodity.commodityId=repertory.commodityId 
    </select>
    
    <select id="repertoryDetails" resultType="pojo.Repertory" parameterType="int">
     SELECT * FROM  commodity,repertory WHERE commodity.commodityId=repertory.commodityId AND repertory.commodityId=#{repertoryid}
    </select>
    
    <select id="repertorys" resultType="pojo.Repertory" parameterType="int">
     SELECT * FROM  commodity,repertory WHERE commodity.commodityId=repertory.commodityId AND repertory.commodityId=#{repertoryid}
    </select>
    
    <delete id="repertoryDel" parameterType="int">
    DELETE FROM `repertory` WHERE repertoryId=#{repertoryid}
    </delete>
    
    <update id="repertoryUpdate" parameterType="pojo.Repertory">
    UPDATE `repertory` SET  repertoryState=#{repertorystate} where repertoryId=#{repertoryid};
    </update>
    
    <insert id="repertoryInsert" parameterType="pojo.Repertory">
    INSERT INTO `repertory` (commodityId,repertoryamount,repertoryEmptyBarrel,repertoryState) VALUES (#{commodityid},#{repertoryamount},#{repertoryemptybarrel},#{repertorystate});
    </insert>
    
    <update id="repertoryStock" parameterType="pojo.Repertory">
    UPDATE `repertory` SET repertoryamount=#{repertoryamount} WHERE repertoryId=#{commodityid}
    </update>
    
    <select id="repertoryss" resultType="java.lang.Integer">
        SELECT repertoryamount FROM `repertory` WHERE `commodityId` =#{commodityId}
    </select>
</mapper>