<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>邮寄地址管理</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link href="address/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>


        <section class="aui-flexView">
            <header class="aui-navBar aui-navBar-fixed b-line">
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-return" onclick="go()"></i>
                </a>
                <div class="aui-center">
                    <span class="aui-center-title">收货地址管理</span>
                </div>
                <a href="javascript:;" class="aui-navBar-item">
                    <i class="icon icon-sys" ></i>
                </a>
            </header>
            <section class="aui-scrollView">
                <div class="divHeight b-line"></div>
                <div class="aui-address-box b-line">
                    <div class="aui-address-add b-line" onclick="goAddAddress()">+添加</div>
                    <div class="aui-flex b-line" th:each="takeAddress,takeAddress1:${takeAddressList}">
                        <div class="aui-address-edit" th:onclick="'updateAddress(\''+${takeAddress.taId}+'\')'">编辑</div>
                        <div class="aui-flex-box">
                            <h3><b th:text="${takeAddress.name}"></b><b th:text="${takeAddress.phone}"></b></h3>
                            <p th:text="${takeAddress.address}"></p>
                        </div>
                    </div>
                   
                </div>
            </section>
        </section>

    </body>
    <script type="text/javascript">
    function updateAddress(taId) {
    	location="goUpdateAddress?taId="+taId;
	}
    function goAddAddress() {
    	location="goAddAddress";
	}
	function go(){
		window.history.go(-1);
	}
</script>
</html>
