<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>会员中心</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link href="my/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <!--

         * 17素材vip建站专区模块代码
         * 详尽信息请看官网：http://www.17sucai.com/pins/vip
         *
         * Copyright , 温州易站网络科技有限公司版权所有
         *
         * 请尊重原创，未经允许请勿转载。
         * 在保留版权的前提下可应用于个人或商业用途

        -->

        <section class="aui-flexView">
            <section class="aui-scrollView">
                <div class="aui-center-head">
                    <div class="aui-center-box">
                        <div class="aui-center-logo">
                            <a href="goPersonal_information" ><img src="D:\\T1.jpg" alt=""></a>
                        </div>
                        <div class="aui-center-text">
                            <h2>我的名字</h2>
                            <p>aui_cn@163.com</p>
                        </div>
                    </div>
                    <div class="aui-center-news">
                        <i class="icon icon-news"></i>
                    </div>
                    <div class="aui-center-block"></div>
                </div>
                <div class="aui-flex aui-flex-two b-line" style="padding:0">
                    <div class="aui-flex-box">我的订单</div>
                    <div class="aui-flex-arrow">全部订单</div>
                </div>
                <div class="aui-palace">
                    <a href="javascript:;" class="aui-palace-grid">
                        <div class="aui-palace-grid-icon">
                            <img src="my/images/head-icon-001.png" alt="">
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>待付款</h2>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-palace-grid">
                        <div class="aui-palace-grid-icon">0
                            <img src="my/images/head-icon-002.png" alt="">
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>待发货</h2>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-palace-grid">
                        <div class="aui-palace-grid-icon">
                            <img src="my/images/head-icon-003.png" alt="">
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>待收货</h2>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-palace-grid">
                        <div class="aui-palace-grid-icon">
                            <img src="my/images/head-icon-004.png" alt="">
                        </div>
                        <div class="aui-palace-grid-text">
                            <h2>退款/售后</h2>
                        </div>
                    </a>
                </div>
                <div class="divHeight"></div>
                <div class="aui-icon-box">
                    <a class="aui-flex-box" href="javascript:;">
                        <div class="aui-flex-box-hd">
                            <img src="my/images/left-icon-001.png" alt="">
                        </div>
                        <div class="aui-flex-box-bd">优惠券</div>
                    </a>
                    <a class="aui-flex-box" href="javascript:;">
                        <div class="aui-flex-box-hd">
                            <img src="my/images/left-icon-002.png" alt="">
                        </div>
                        <div class="aui-flex-box-bd">红包</div>
                    </a>
                    <a class="aui-flex-box" href="javascript:;">
                        <div class="aui-flex-box-hd">
                            <img src="my/images/left-icon-003.png" alt="">
                        </div>
                        <div class="aui-flex-box-bd">收货地址</div>
                    </a>
                    <a class="aui-flex-box" href="javascript:;">
                        <div class="aui-flex-box-hd">
                            <img src="my/images/left-icon-004.png" alt="">
                        </div>
                        <div class="aui-flex-box-bd">积分商城</div>
                    </a>
                    <a class="aui-flex-box" href="javascript:;">
                        <div class="aui-flex-box-hd">
                            <img src="my/images/left-icon-005.png" alt="">
                        </div>
                        <div class="aui-flex-box-bd">我的收藏</div>
                    </a>
                    <a class="aui-flex-box" href="javascript:;">
                        <div class="aui-flex-box-hd">
                            <img src="my/images/left-icon-006.png" alt="">
                        </div>
                        <div class="aui-flex-box-bd" onclick="gointegral_mall()">积分商城</div>
                    </a>
                    <a class="aui-flex-box" href="javascript:;">
                        <div class="aui-flex-box-hd">
                            <img src="my/images/left-icon-007.png" alt="">
                        </div>
                        <div class="aui-flex-box-bd">以旧换新</div>
                    </a>
                    <a class="aui-flex-box" href="javascript:;">
                        <div class="aui-flex-box-hd">
                            <img src="my/images/left-icon-008.png" alt="">
                        </div>
                        <div class="aui-flex-box-bd">设置</div>
                    </a>
                </div>
            </section>
            <footer class="aui-footer">
                <a href="javascript:;" class="aui-tabBar-item ">
                    <span class="aui-tabBar-item-icon">
                        <i class="icon icon-home"></i>
                    </span>
                    <span class="aui-tabBar-item-text">首页</span>
                </a>
                <a href="javascript:;" class="aui-tabBar-item ">
                    <span class="aui-tabBar-item-icon">
                        <i class="icon icon-loan"></i>
                    </span>
                    <span class="aui-tabBar-item-text">分类</span>
                </a>
                <a href="javascript:;" class="aui-tabBar-item ">
                    <span class="aui-tabBar-item-icon">
                        <i class="icon icon-find"></i>
                    </span>
                    <span class="aui-tabBar-item-text">发现</span>
                </a>
                <a href="javascript:;" class="aui-tabBar-item ">
                    <span class="aui-tabBar-item-icon">
                        <i class="icon icon-car"></i>
                    </span>
                    <span class="aui-tabBar-item-text">购物车</span>
                </a>
                <a href="javascript:;" class="aui-tabBar-item aui-tabBar-item-active">
                    <span class="aui-tabBar-item-icon">
                        <i class="icon icon-me"></i>
                    </span>
                    <span class="aui-tabBar-item-text">我的</span>
                </a>
            </footer>
        </section>

    </body>
    <script type="text/javascript">
    function gointegral_mall() {
    	location = "/gointegral_mall";
	}
    </script>
</html>
