<!doctype html>
<html>
<head design-width="750">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>Demo</title>
<link rel="stylesheet" href="Personal_information/css/style.css" /><!--页面样式-->

<script src="Personal_information/js/auto-size.js"></script><!--设置字体大小-->

<script src="Personal_information/js/jquery-2.2.4.min.js"></script><!--设置字体大小-->

</head>
<body>
	<div class="mobile-wrap center mobile-wrap-mb">
        
        <header>
        	<span class="return">
        		<a href="#" onClick="go()">返回</a>
        	</span>
        </header>
        <main>
        	<div class="inform">
        		<h3>账号管理</h3>
        		<div class="inform-list">
        			<ul>
        				<li class="acti">个人信息</li>
        				<li>修改资料</li>
        				<li>修改密码</li>
        			</ul>
        		</div>
        		<div class="inform-text show">       			
        			<p>
        				<span>
        					用户名
        				</span>
        				<input type="text" name="name"/>
        			</p>
        			<p>
        				<span>
        					头像
        				</span>
        				<input type="file" name="portrait"/>
        			</p>
        			
        			<h4>
        				<input type="submit" name="" id="" value="确定修改" />
        				<a href="#">遇到问题？</a>
        			</h4>
        		</div>
        		<div class="inform-text">
        			<p>
        				<span>
        					UID ：
        				</span>
        				<input type="text" />
        			</p>
        			<p>
        				<span>
        					用户名
        				</span>
        				<input type="text" />
        			</p>
        			<p>
        				<span>
        					电话号
        				</span>
        				<input type="text" />
        			</p>
        			<p>
        				<span>
        					微信号
        				</span>
        				<input type="text" />
        			</p>
        			<p>
        				<span>
        					商户级别
        				</span>
        				<input type="text" />
        			</p>
        			<h4>
        				<input type="submit" name="" id="" value="确定修改" />
        				<a href="#">遇到问题？</a>
        			</h4>
        		</div>
        		<div class="inform-text">
        			<p>
        				<span>
        					UID ：
        				</span>
        				<input type="text" />
        			</p>
        			<p>
        				<span>
        					用户名
        				</span>
        				<input type="text" />
        			</p>
        			<p>
        				<span>
        					电话号
        				</span>
        				<input type="text" />
        			</p>
        			<p>
        				<span>
        					微信号
        				</span>
        				<input type="text" />
        			</p>
        			<p>
        				<span>
        					商户级别
        				</span>
        				<input type="text" />
        			</p>
        			<h4>
        				<input type="submit" name="" id="" value="确定修改" />
        				<a href="#">遇到问题？</a>
        			</h4>
        		</div>
        	</div>
        </main>

   </div><!--mobile_wrap-->
</body>

<script type="text/javascript">
	$('.inform-list ul li').click(function(){
		var n=$(this).index();
		$(this).addClass('acti').siblings().removeClass('acti');
		$('.inform-text').fadeOut();
		$('.inform-text').eq(n).fadeIn();
	})
	function go(){
		window.history.go(-1);
	}
</script>
</html>
